<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<header>
    <h1>Enter your matches info here!</h1>
</header>

<p>Information on our <strong>tournament matches</strong> is here!</p>

<h2>Search Using Our Datadex</h2>

<table id="matches-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>

        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print trainer table info in order --}}
        {{#each data}}
        <tr>
            <td>{{this.matchID}}</td>
            <td>{{this.roundNumber}}</td>
            <td>{{this.trainer1}}</td>
            <td>{{this.trainer2}}</td>

            <td><button onclick="deleteMatch({{this.matchID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/matches/delete_match.js"></script>

{{!-- Form to add a record to the table  --}}
<p>To add a new person, please enter their information below and click 'Submit'!</p>
<form id="add-match-form-ajax">

    <label for="input-round-number">Round Number: </label>
    <input type="number" name="input-round-number" id="input-round-number">


    <label for="input-contestant-1">Match ID Name: </label>
    <select name="input-contestant-1" id="input-contestant-1">
        <option value="test">Select a Trainer</option>
        {{#each trainer}}
        <option value="{{this.trainerID}}">{{this.trainerName}}</option>
        {{/each}}
    </select>

    <label for="input-contestant-2">Trainer Name: </label>
    <select name="input-contestant-2" id="input-contestant-2">
        <option value="test">Select Another Trainer</option>
        {{#each trainer}}
        <option value="{{this.trainerID}}">{{this.trainerName}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/matches/add_match.js"></script>

<h2>Updating Match Information</h2>
<p>Select Match ID below and adjust the match information!</p>

<form id="update-match-form-ajax">

    <label for="input-match-id-2">Match ID: </label>
    <select name="input-match-id-2" id="mySelect">
        <option value="test">Select a Match ID</option>
        {{#each data}}
        <option value="{{this.matchID}}">{{this.matchID}}</option>
        {{/each}}
    </select>

    <label for="input-match-round-number">Number Of Wins: </label>
    <input type="number" name="input-match-round-number" id="input-match-round-number">

    <label for="input-edit-contestant-1">Match ID Name: </label>
    <select name="input-edit-contestant-1" id="input-edit-contestant-1">
        <option value="test">Select a Trainer</option>
        {{#each trainer}}
        <option value="{{this.trainerID}}">{{this.trainerName}}</option>
        {{/each}}
    </select>

    <label for="input-edit-contestant-2">Trainer Name: </label>
    <select name="input-edit-contestant-2" id="input-edit-contestant-2">
        <option value="test">Select Another Trainer</option>
        {{#each trainer}}
        <option value="{{this.trainerID}}">{{this.trainerName}}</option>
        {{/each}}
    </select>

    <input type="submit">

</form>
<script src="./js/matches/update_match.js"></script>