<!-- index.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<header>
    <h1>Enter your pokemon moves info here!</h1>
</header>

<p>Information on our <strong>moves</strong> is here!</p>

<h2>Search Using Our Datadex</h2>

<p>Search by move name using the field below. Partial names are ok as well!</p>
<form id="search-move-html" method='GET' action='/'>
    <label for="input-move">Search by Trainer Name: </label>
    <input type="text" name="moveName" id="input-trainer-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

{{!-- Create a table --}}
<table id="moves-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>

        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print trainer table info in order --}}
        {{#each data}}
        <tr>
            <td>{{this.moveID}}</td>
            <td>{{this.moveName}}</td>
            <td>{{this.moveDescription}}</td>
            <td>{{this.movePower}}</td>
            <td>{{this.typeOfMove}}</td>

            <td><button onclick="deleteMove({{this.moveID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/moves/delete_move.js"></script>

{{!-- Form to add a record to the table  --}}
<p>To add a new move, please enter their information below and click 'Submit'!</p>
<form id="add-move-form-ajax">
    <label for="input-move-name">Move Name: </label>
    <input type="text" name="input-move-name" id="input-move-name">

    <label for="input-move-description">Move Description: </label>
    <input type="text" name="input-move-description" id="input-move-description">
    
    <label for="input-move-power">Move Power: </label>
    <input type="number" name="input-move-power" id="input-move-power">

    <label for="input-move-type">Move Type: </label>
    <input type="text" name="input-move-type" id="input-move-type">

    <input type="submit">
</form>
<script src="./js/moves/add_move.js"></script>

<h2>Updating Move Information</h2>
<p>Select MoveID below and adjust the match information!</p>

<form id="update-move-form-ajax">

    <label for="input-move-id-">Match ID: </label>
    <select name="input-match-id-2" id="mySelect">
        <option value="test">Select a Move To Update</option>
        {{#each data}}
        <option value="{{this.moveID}}">{{this.moveName}}</option>
        {{/each}}
    </select>

    <label for="input-edit-move-name">Move Name: </label>
    <input type="text" name="input-edit-move-name" id="input-edit-move-name">

    <label for="input-edit-move-description">Move Description: </label>
    <input type="text" name="input-edit-move-description" id="input-edit-move-description">

    <label for="input-edit-move-power">Move Power: </label>
    <input type="number" name="input-edit-move-power" id="input-edit-move-power">
    
    <label for="input-edit-move-type">Move Power: </label>
    <input type="text" name="input-edit-move-type" id="input-edit-move-type">


    <input type="submit">

</form>
<script src="./js/moves/update_move.js"></script>