<header>
    <h1>Enter your moves here!</h1>
</header>

<p>Information on our <strong>pokemon you will use</strong> is here!</p>

<h2>Search Using Our Datadex</h2>

<table id="pokemon-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>
                ID
            </th>

            <th>Name</th>
            <th>Level</th>
            <th>Primary Type</th>
            <th>Secondary Type</th>
            <th>Held Item</th>
            <th>Trainer</th>
            <th>Moveset</th>

            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print trainer table info in order --}}
        {{#each data}}
        <tr>
            <td>{{this.pokemonID}}</td>
            <td>{{this.pokemonName}}</td>
            <td>{{this.pokemonLevel}}</td>
            <td>{{this.primaryType}}</td>
            <td>{{#if this.secondaryType}}{{this.secondaryType}}{{else}}N/A{{/if}}</td>
            <td>{{#if this.heldItem}}{{this.heldItem}}{{else}}Empty{{/if}}</td>
            <td>{{this.trainerID}}</td>
            <td>{{this.movesetID}}</td>


            <td><button onclick="deletePokemon({{this.pokemonID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_pokemon.js"></script>