
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<header>
    <h1>Enter your moves here!</h1>
</header>

<p>Information on our <strong>pokemon you will use</strong> is here!</p>

<h2>Search Using Our Datadex</h2>

<table id="pokemon-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>
                ID
            </th>

            <th>Name</th>
            <th>Level</th>
            <th>Primary Type</th>
            <th>Secondary Type</th>
            <th>Held Item</th>
            <th>Trainer</th>
            <th>Moveset</th>
            
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print trainer table info in order --}}
        {{#each data}}
        <tr>
            <td>{{this.pokemonID}}</td>
            <td>{{this.pokemonName}}</td>
            <td>{{this.pokemonLevel}}</td>
            <td>{{this.primaryType}}</td>
            <td>{{#if this.secondaryType}}{{this.secondaryType}}{{else}}N/A{{/if}}</td>
            <td>{{#if this.heldItem}}{{this.heldItem}}{{else}}Empty{{/if}}</td>
            <td>{{this.trainerName}}</td>

            <td>{{this.movesetID}}</td>


            <td><button onclick="deletePokemon({{this.pokemonID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/pokemon/delete_pokemon.js"></script>

{{!-- Form to add a record to the table  --}}
<p>To add a new pokemon, please enter their information below and click 'Submit'!</p>
<form id="add-pokemon-form-ajax">
    <label for="input-pokemon-name">Pokemon Name: </label>
    <input type="text" name="input-pokemon-name" id="input-pokemon-name">

    <label for="input-pokemon-level">Pokemon Level: </label>
    <input type="number" name="input-pokemon-level" id="input-pokemon-level">
    
    <label for="input-pokemon-primary-type">Primary Type: </label>
    <input type="text" name="input-pokemon-primary-type" id="input-pokemon-primary-type">

    <label for="input-pokemon-secondary-type">Secondary Type: </label>
    <input type="text" name="input-pokemon-secondary-type" id="input-pokemon-secondary-type">

    <label for="input-pokemon-held-item">Held Item: </label>
    <input type="text" name="input-pokemon-type" id="input-pokemon-type">

    <label for="input-pokemon-trainer">Trainer Name: </label>
    <select name="input-pokemon-trainer" id="input-pokemon-trainer">
        <option value="test">Select Another Trainer</option>
        {{#each trainers}}
        <option value="{{this.trainerID}}">{{this.trainerName}}</option>
        {{/each}}
    </select>

    <label for="input-pokemon-moveset">Pokemon Moveset: </label>
    <input type="number" name="input-pokemon-moveset" id="input-pokemon-moveset">
    <input type="submit">
</form>
<script src="./js/pokemon/add_pokemon.js"></script>