<!-- index.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<header>
    <h1>Enter your trainer info here!</h1>
</header>

<p>Information on our <strong>trainers</strong> is here!</p>

<h2>Search Using Our Datadex</h2>

<p>Search by trainer name using the field below. Partial names are ok as well!</p>
<form id="search-trainer-html" method='GET' action='/'>
    <label for="input-trainer">Search by Trainer Name: </label>
    <input type="text" name="trainerName" id="input-trainer-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

{{!-- Create a table --}}
<table id="trainer-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>

        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print trainer table info in order --}}
        {{#each data}}
        <tr>
            <td>{{this.trainerID}}</td>
            <td>{{this.trainerName}}</td>
            <td>{{this.trainerPhone}}</td>
            <td>{{this.trainerEmail}}</td>
            <td>{{this.numberOfWins}}</td>
            <td><button onclick="deleteTrainer({{this.trainerID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_trainer.js"></script>


{{!-- Form to add a record to the table  --}}
<p>To add a new person, please enter their information below and click 'Submit'!</p>
<form id="add-trainer-form-ajax">
    <label for="input-trainer-name">Trainer Name: </label>
    <input type="text" name="input-trainer-name" id="input-trainer-name">

    <label for="input-trainer-phone">Trainer Phone Number: </label>
    <input type="text" name="input-trainer-phone" id="input-trainer-phone">
    
    <label for="input-trainer-email">Trainer Email: </label>
    <input type="text" name="input-trainer-email" id="input-trainer-email">

    <label for="input-trainer-number-of-wins">Number Of Wins: </label>
    <input type="number" name="input-trainer-number-of-wins" id="input-trainer-number-of-wins">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/trainers/add_trainer.js"></script>

<h2>Updating A Trainer's Information</h2>
<p>Select Trainer below and add more informatioN!</p>
<form id="update-trainer-form-ajax">

    <label for="input-trainer-name-2">Trainer Name: </label>
    <select name="input-trainer-name-2" id="mySelect">
        <option value="test">Select a Trainer</option>
        {{#each data}}
        <option value="{{this.trainerID}}">{{this.trainerName}}</option>
        {{/each}}
    </select>

    <label for="input-trainer-phone">Trainer Phone Number: </label>
    <input type="text" name="input-trainer-phone-2" id="input-trainer-phone-2">

    <label for="input-trainer-email">Trainer Email: </label>
    <input type="text" name="input-trainer-email-2" id="input-trainer-email-2">

    <label for="input-trainer-number-of-wins">Number Of Wins: </label>
    <input type="number" name="input-trainer-number-of-wins-2" id="input-trainer-number-of-wins-2">

    <input type="submit">

</form>
<script src="./js/trainers/update_trainer.js"></script>